<form class="form-container" (submit)="$event.preventDefault(); onSubmit()">
  <app-input
    id="otp"
    placeholder="Введіть OTP Code"
    label="Введіть OTP Code"
    icon="lock"
    [control]="otpForm.otp"
  ></app-input>
  @if (timeLeft() > 0) {
  <div class="resend-container">
    <p class="resend-text">
      Повторне надсилання коду через <span class="resend-timer">{{ formattedTime() }}</span>
    </p>
  </div>
  <app-button
    label="Підтвердити код"
    icon="arrow_forward"
    type="submit"
    [disabled]="!isFormValid() || isLoading()"
  ></app-button>
  } @else {
  <div class="flex justify-center text-label-md text-on-surface-variant">
    <app-button-line
      label="Надіслати код повторно"
      type="button"
      (click)="resendCode()"
    ></app-button-line>
  </div>
  <app-button
    label="Назад до входу"
    icon="arrow_back"
    type="button"
    (click)="onBackToLogin()"
  ></app-button>
  }
</form>
