<app-modal
  [isOpen]="isOpen()"
  [title]="title()"
  [confirmLabel]="confirmLabel()"
  [confirmDisabled]="!isFormValid() || confirmLoading()"
  [confirmLoading]="confirmLoading()"
  (closed)="onClose()"
  (confirmed)="onConfirm()"
>
  <form class="shops-form-modal-form" (submit)="$event.preventDefault(); onConfirm()">
    <app-input
      [id]="nameFieldId"
      [label]="texts.NAME_LABEL"
      [placeholder]="texts.NAME_PLACEHOLDER"
      [control]="shopForm.name"
    />

    <app-textarea
      [id]="descriptionFieldId"
      [label]="texts.DESCRIPTION_LABEL"
      [placeholder]="texts.DESCRIPTION_PLACEHOLDER"
      [control]="shopForm.description"
    />

    <app-input
      [id]="urlFieldId"
      [label]="texts.URL_LABEL"
      [placeholder]="texts.URL_PLACEHOLDER"
      [control]="shopForm.url"
    />
  </form>
</app-modal>
