<div class="m3-textfield group" [class.has-icon]="!!icon()">
  <div class="relative">
    @if (icon()) {
    <div class="input-icon-container">
      <span class="material-symbols-outlined">{{ icon() }}</span>
    </div>
    }
    <input
      class="admin-input"
      [class.has-icon]="!!icon()"
      [id]="id()"
      [name]="name()"
      [placeholder]="placeholder() || ' '"
      [required]="required()"
      [type]="type()"
      (focus)="focusEvent.emit($event)"
      (blur)="blurEvent.emit($event)"
    />
    @if (label()) {
    <label class="font-body-md text-outline" [for]="id()">{{ label() }}</label>
    }
  </div>
</div>
