<header class="admin-header">
  <div class="header-left">
    <button (click)="toggleMenu()" class="icon-button" id="menu-toggle">
      <span class="icon-primary">menu</span>
    </button>
    <h1 class="header-title">Ocean Breeze Admin</h1>
  </div>
  <div class="header-right">
    <button class="icon-button">
      <span class="icon-default">notifications</span>
      <span class="notification-dot"></span>
    </button>
    <div class="account-menu-container">
      <button (click)="toggleAccountMenu($event)" class="icon-button" id="account-toggle">
        <span class="icon-default">account_circle</span>
      </button>
      @if (isAccountMenuOpen()) {
      <app-simple-menu [items]="accountMenuItems" (itemSelected)="onMenuItemSelected($event)" />
      }
    </div>
  </div>
</header>
