<header class="admin-header">
  <div class="header-left">
    <button (click)="toggleMenu()" class="icon-button" id="menu-toggle">
      <span class="icon-primary">menu</span>
    </button>
    <h1 class="header-title">Ocean Breeze Admin</h1>
  </div>
  <div class="header-right">
    <button class="icon-button">
      <span class="icon-default">notifications</span>
      <span class="notification-dot"></span>
    </button>
    <button class="icon-button">
      <span class="icon-default">account_circle</span>
    </button>
  </div>
</header>
