<div
  class="multi-select-container"
  [class.multi-select-container-click]="triggerMode() === 'click'"
  [class.multi-select-container-form]="variant() === 'form'"
  [class.multi-select-container-open]="triggerMode() === 'click' && isOpen()"
>
  <button
    type="button"
    class="multi-select-trigger"
    [class.multi-select-trigger-form]="variant() === 'form'"
    [class.multi-select-trigger-bordered]="variant() === 'bordered'"
    (click)="toggleMenu($event)"
  >
    @if (icon()) {
    <span class="material-symbols-outlined multi-select-trigger-icon">{{ icon() }}</span>
    }
    <span class="multi-select-trigger-label">{{ displayLabel() }}</span>
    <span
      class="multi-select-icon-small material-symbols-outlined"
      [class.multi-select-icon-rotated]="triggerMode() === 'click' && isOpen()"
    >
      expand_more
    </span>
  </button>
  <div class="multi-select-menu m3-elevation-2">
    <ul class="multi-select-list">
      @for (option of displayOptions(); track option.value) {
      <li>
        <button
          type="button"
          class="multi-select-item"
          [style.padding-left.px]="resolveOptionPadding(option)"
          (click)="toggleOption(option, $event)"
        >
          <span class="multi-select-item-label">{{ option.label }}</span>
          @if (isSelected(option.value)) {
          <span class="material-symbols-outlined multi-select-item-icon">check</span>
          }
        </button>
      </li>
      }
    </ul>
  </div>
</div>
