<aside
  class="admin-menu"
  [class.menu-open]="layoutService.isSidebarOpen()"
  [class.menu-closed]="!layoutService.isSidebarOpen()"
>
  <div class="store-manager-container">
    <h2 class="store-manager-title">Store Manager</h2>
    <p class="store-manager-subtitle">Ocean Breeze Retail</p>
  </div>
  <nav class="nav-container">
    @if (isAdminHome()) { @for (item of menuFooterItems; track item.label) {
    <button [class]="item.buttonClass">
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <span class="nav-text-small">{{ item.label }}</span>
    </button>
    } } @else { @for (item of menuItems; track item.label) {
    <a
      [routerLink]="item.route"
      [routerLinkActiveOptions]="{exact: item.route === adminHomeRoute}"
      routerLinkActive="nav-item-active"
      #rla="routerLinkActive"
      [class.nav-item-active]="rla.isActive"
      [class.nav-item]="!rla.isActive"
    >
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <span [class.nav-text]="rla.isActive" [class.nav-text-small]="!rla.isActive">
        {{ item.label }}
      </span>
    </a>
    } }
  </nav>
  @if (!isAdminHome()) {
  <div class="menu-footer">
    @for (item of menuFooterItems; track item.label) {
    <button [class]="item.buttonClass">
      <span class="material-symbols-outlined">{{ item.icon }}</span>
      <span class="nav-text-small">{{ item.label }}</span>
    </button>
    }
  </div>
  }
</aside>
