<app-modal
  [isOpen]="isOpen()"
  [title]="title"
  [confirmLabel]="confirmLabel"
  [confirmDisabled]="!attributeForm.name().valid() || !attributeForm.value().valid() || confirmLoading()"
  [confirmLoading]="confirmLoading()"
  (closed)="onClose()"
  (confirmed)="onConfirm()"
>
  <form class="attribute-form-modal-form" (submit)="$event.preventDefault(); onConfirm()">
    <app-input
      [id]="nameFieldId"
      [label]="texts.NAME_LABEL"
      [placeholder]="texts.NAME_PLACEHOLDER"
      [control]="attributeForm.name"
    />
    <app-input
      [id]="valueFieldId"
      [label]="texts.VALUE_LABEL"
      [placeholder]="texts.VALUE_PLACEHOLDER"
      [control]="attributeForm.value"
    />
  </form>
</app-modal>
