<div
  class="admin-dropdown-container"
  [class.admin-dropdown-container-click]="triggerMode() === 'click'"
  [class.admin-dropdown-container-form]="variant() === 'form'"
  [class.admin-dropdown-container-open]="triggerMode() === 'click' && isOpen()"
>
  <button
    type="button"
    class="admin-dropdown-trigger"
    [class.admin-dropdown-trigger-form]="variant() === 'form'"
    (click)="toggleMenu($event)"
  >
    @if (icon()) {
    <span class="material-symbols-outlined admin-dropdown-trigger-icon">{{ icon() }}</span>
    }
    <span class="admin-dropdown-trigger-label">{{ label() }}</span>
    <span
      class="admin-dropdown-icon-small material-symbols-outlined"
      [class.admin-dropdown-icon-rotated]="triggerMode() === 'click' && isOpen()"
    >
      expand_more
    </span>
  </button>
  <div class="admin-dropdown-menu m3-elevation-2">
    <ul class="admin-dropdown-list">
      @for (option of options(); track option.value) {
      <li>
        <a class="admin-dropdown-item" href="#" (click)="selectOption(option, $event)">
          {{ option.label }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
