<app-modal
  [isOpen]="isOpen()"
  [title]="title"
  [confirmLabel]="confirmLabel"
  [confirmDisabled]="!tagForm.name().valid() || confirmLoading()"
  [confirmLoading]="confirmLoading()"
  (closed)="onClose()"
  (confirmed)="onConfirm()"
>
  <form class="tag-form-modal-form" (submit)="$event.preventDefault(); onConfirm()">
    <app-input
      [id]="nameFieldId"
      [label]="texts.NAME_LABEL"
      [placeholder]="texts.NAME_PLACEHOLDER"
      [control]="tagForm.name"
    />
  </form>
</app-modal>
